server:
  port: 8510
  servlet:
    context-path: /v1/dev

spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/postgres
    username: postgres
    password: cHJvbWV0aGV1cw==
    driver-class-name: org.postgresql.Driver
  flyway:
    baselineOnMigrate: true
    locations: db/migration,db/migration/tenants

prometheus:
  security:
    jwt:
      secret-key: ${SECRETY_KEY:5EstjYPSVvWK5m3sPPR7H28sr34mk5Rf7Z7BeUuVkVQxnao8MVBdQMmSgaAUnAQkymAaqMeFuqQND1xGzhgRc39QtECbd9zx8xFe}
